section.cover
  .cover__container
    a.cover__logo(href="/")
  .cover__container.cover__container--indents-none
    .cover__time
      span Limited offer
      span.cover__timer(data-timer="10:00:00") 10:00:00
    .cover__price
      span R 250.00
      span R 160.00
    img(src="../img/cover/1.webp" alt="")
